@(title: String)(content: Html)

@admin_common(title) {
    <div id="header"></div>
    <script type="text/jsx">
        /** @@jsx React.DOM */
        require(["react", "jsx!header"], function (React, Header) {
            var headerMenus = { "Home" : "/admin", "AdminUser" : "/admin/user", "SystemMetrics" : "/admin/metrics", "Logout" : "/admin/logout" };

            React.renderComponent(
                <Header projectName="Beyond Framework" menus={headerMenus} />,
                document.getElementById('header')
            );
        });
    </script>
    @content
}
