@(jsonServerInfo: String)

@admin_main("Admin Home") {
    <div id="header"></div>
    <div id="content"></div>
    <script type="text/jsx">
    /** @@jsx React.DOM */
    require(["jsx!header", "jsx!tablepanel"], function (Header, TablePanel) {
        var headerMenus = { "Home" : "#" };
        var data = @Html(jsonServerInfo);

        React.renderComponent(
            <Header projectName="Beyond Framework" menus={headerMenus} />,
            document.getElementById('header')
        );

        React.renderComponent(
            <TablePanel heading="Server Information" data={data}>
                Display the server information for the local server and the settings for Beyond framework in the configuration file
            </TablePanel>,
            document.getElementById('content')
        );
    });
    </script>
}
