@(errorMessage: String = "")

@admin_main("Admin Login") {
    <img class="center" src="@routes.Assets.at("images/logo2.png")" />
    <div id="content"></div>
    <script type="text/jsx">
        /** @@jsx React.DOM */
        require(["jsx!loginform"], function (LoginForm) {
            React.renderComponent(
                <LoginForm postUrl="@routes.Admin.doLogin" heading="Welcome to Beyond" errorMessage="@errorMessage" />,
                document.getElementById('content')
            );
        });
    </script>
}
